<div class="row">

    <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
            <a href="#/accounts/{{account.id}}/trades">
                <div class="caption">
                    <h3>Trades</h3>
                </div>
            </a>
            <a href="#/accounts/{{account.id}}/trades/new">
                <button type="button" class="btn btn-success">New Trade</button>
            </a>
        </div>

    </div>


    <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
            <a href="#/accounts/{{account.id}}/movements">
                <div class="caption">
                    <h3>Movements</h3>


                </div>
            </a>
            <table>
                <tr>
                    <td>Balance:</td>
                    <td><span class="badge">{{balanceSummary.balance | number: 2}}€</span></td>
                </tr>
                <tr>
                    <td>P/L:</td>
                   <td><span class="badge {{balanceSummary.profit>0?'tradeOk':'danger'}}">{{balanceSummary.profit | number: 2}}€</span></td>
                </tr>
                <tr>
                    <td>Gain:</td>
                    <td><span class="badge {{balanceSummary.profit>0?'tradeOk':'danger'}}">{{balanceSummary.totalGain | percentage: 2}}</span></td>
                </tr>

            </table>
        </div>
    </div>


    <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
            <a href="#/accounts/{{account.id}}/risk">
                <div class="caption">
                    <h3>Risk</h3>
                </div>
            </a>
        </div>
    </div>


    <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
            <a href="#/accounts/{{account.id}}/plan">
                <div class="caption">
                    <h3>Account plan and Strategy</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
            <a href="#/accounts/{{account.id}}/instruments">
                <div class="caption">
                    <h3>Traded Instrument</h3>
                </div>
            </a>
        </div>
    </div>


</div>

