<h1>Accounts</h1>
<p ng-if='accounts.length == 0'>You don't have any accounts defined yet! Create one now.</p>
<a href="#/accounts/new"> <button type="button"  class="btn btn-success">Create new Account</button></a>

<ul>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Closed Trades</th>
            <th>Open Trades</th>
            <th>Planned Trades</th>
            <th></th>

        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="account in accounts">
            <td><a href="#/accounts/{{account.id}}">{{account.name}}</a></td>
            <td>{{account.accountSummary.closedTrades}}</td>
            <td><span class="badge {{ account.accountSummary.openTrades>0? 'tradeOk': ''}}">{{account.accountSummary.openTrades}}</span></td>
            <td>{{account.accountSummary.plannedTrades}}</td>

            <td><button type="button" class="btn btn-danger btn-sm" title="Remove this account!" ng-click="remove(account.id)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
                <a href="#/accounts/{{account.id}}/edit">
                <button type="button" class="btn btn-info btn-sm" title="Edit this account!" ng-click="edit(account.id)">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
            </a>
        </tr>
        </tbody>
    </table>


</ul>

