<div style="margin-top: 85px">
    <ol class="breadcrumb">
        <li><a href="#/accounts/{{account.id}}/">Account {{account.name}}</a></li>
        <li>Movements</li>

    </ol>
</div>


<p>
    <a data-toggle="collapse" data-target="#balanceSummary">Show/Hide Balance Summary</a>
</p>

<div class="panel panel-default collapse in" id="balanceSummary">
    <div class="panel-heading">Balance Summary</div>
    <div class="panel-body">

        <ul class="list-group">

            <li class="list-group-item">
                <span class="badge">{{balanceSummary.balance | number: 2}} €</span>
                Balance
            </li>

            <li class="list-group-item">
                <span class="badge">{{balanceSummary.profit | number: 2}} €</span>
                Profit
            </li>


            <li class="list-group-item">
                <span class="badge">{{balanceSummary.deposits | number: 2}} €</span>
                Deposits
            </li>
            <li class="list-group-item">
                <span class="badge">{{balanceSummary.withdraws | number: 2}} €</span>
                Withdraws
            </li>

            <li class="list-group-item">
                <span class="badge">{{balanceSummary.rollover | number: 2}} €</span>
                Rollover
            </li>
            <li class="list-group-item">
                <span class="badge">{{balanceSummary.trade | number: 2}} €</span>
                Tradding
            </li>


        </ul>

    </div>


</div>

<!-------------->
<p>
    <a data-toggle="collapse" data-target="#newMovement">New Movement</a>
</p>
<div id="newMovement" class="collapse">
    <div class="panel panel-default">
        <div class="panel-heading">New movement</div>
        <div class="panel-body">
            <form role="form" name="newMovementForm">

                <div class="form-group">
                    <label for="date">Date</label>
                    <!--data-date="1979-09-16T05:25:07Z"-->
                    <div class="input-group date form_datetime col-md-5"
                         data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                        <input class="form-control" id="date"
                               ng-model='movement.date' size="16" type="text" value="" readonly ng-required="true">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input1" value=""/><br/>


                    <!--<input type="text"  />-->


                </div>

                <div class="input-group col-md-3">
                    <label for="ammount">Ammount</label>
                    <input type="text" class="form-control" id="ammount" ng-required="true"
                           ng-model='movement.ammount'/>
                </div>

                <div class="input-group col-md-3">
                    <label for="type">Type</label>
                    <select id="type" ng-model='movement.type' class="form-control">
                        <option selected="selected">TRADE</option>
                        <option>WITHDRAW</option>
                        <option>DEPOSIT</option>
                        <option>ROLLOVER</option>
                    </select>

                </div>


                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" ng-required="true"
                              ng-model='movement.description'></textarea>

                    <p class="help-block">Add some description here.</p>
                </div>


                <button data-toggle="collapse" data-target="#newMovement" ng-if="newMovementForm.$valid" type="submit"
                        class="btn btn-success" ng-click='save()'>Create it
                    ang got to listing
                </button>

                <button type="button" data-toggle="collapse" data-target="#newMovement" class="btn btn-warning">Cancel
                </button>
            </form>
        </div>
    </div>

</div>




<p>
    <a data-toggle="collapse" data-target="#movements">Show/Hide Movements</a>
</p>
<div class="panel panel-default collapse" id="movements">
    <div class="panel-heading">Movements</div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
                <th>Ammount</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="movement in movements">
                <td>{{movement.date}}</td>
                <td>{{movement.type}}</td>
                <td>{{movement.description}}</td>
                <td>{{movement.ammount}}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" title="Remove this account!"
                            ng-click="remove(movement.id)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>






