
<h1 ng-if="!account.id">New Account</h1>


<h1 ng-if="account.id">Edit Account</h1>


<div class="panel panel-default">
    <div class="panel-heading">Enter Account details</div>
    <div class="panel-body">

        <form role="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" ng-model='account.name'>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" ng-model='account.description'></textarea>

                <p class="help-block">Add some description here.</p>
            </div>
            <button type="submit" class="btn btn-success" ng-click='create()'>Create it ang got to listing</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel and back to listing</button>

        </form>
    </div>
</div>



