<h1>Account Plan for account {{account.name}}</h1>



<div class="panel panel-default">
    <div class="panel-heading">Plan</div>
    <div class="panel-body">

        <form role="form">
            <div class="form-group">
                <label for="summary">Summary</label>
                <textarea class="form-control" id="summary" ng-model='plan.summary'></textarea>
                <p class="help-block">Add some description of the strategy</p>
            </div>

            <div class="form-group">
                <label for="timeFrame">Time Frame</label>
                <input type="text" class="form-control" id="timeFrame"  ng-model='plan.timeFrame'>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Entry Strategy</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="entryStrategy">Entry Strategy Name</label>
                        <input type="text" class="form-control" id="entryStrategy"  ng-model='plan.entryStrategyName'>
                    </div>
                    <div class="form-group">
                        <label for="entryStrategyDescription">Description</label>
                        <textarea class="form-control" id="entryStrategyDescription" ng-model='plan.entryStrategyDescription'></textarea>
                        <p class="help-block">Add some description of the strategy</p>
                    </div>

                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Exit Strategy</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="exitStrategy">Exit Strategy Name</label>
                        <input type="text" class="form-control" id="exitStrategy"  ng-model='plan.exitStrategyName'>
                    </div>

                    <div class="form-group">
                        <label for="exitStrategyDescription">Description</label>
                        <textarea class="form-control" id="exitStrategyDescription" ng-model='plan.exitStrategyDescription'></textarea>
                        <p class="help-block">Add some description of the strategy</p>
                    </div>


                </div>
            </div>



            <div class="form-group">
                <label for="rmultiple">R</label>
                <input type="text" class="form-control" id="rmultiple"  ng-model='plan.rmultiple'>
            </div>

            <div class="form-group">
                <label for="reliability">Reliability</label>
                <input type="text" class="form-control" id="reliability"  ng-model='plan.reliability'>
            </div>



            <div class="form-group">
                <label for="maxConsecutiveLosses">Max number of consecutive losses</label>
                <input type="text" class="form-control" id="maxconsecutiveLosses"  ng-model='plan.maxConsecutiveLosses'>
            </div>

            <div class="form-group">
                <label for="monthlyReturn">Monthly Return</label>
                <input type="text" class="form-control" id="monthlyReturn"  ng-model='plan.monthlyReturn'>
            </div>
            <div class="form-group">
                <label for="anualReturn">Monthly Return</label>
                <input type="text" class="form-control" id="anualReturn"  ng-model='plan.anualReturn'>
            </div>





            <button type="submit" class="btn btn-success" ng-click='save()'>Save it ang go to Account</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel and back to Account</button>

        </form>
    </div>
</div>



