<h1>Account Risk Parameters</h1>



<div class="panel panel-default">
    <div class="panel-heading">Enter Account Risk Parameters</div>
    <div class="panel-body">

        <form role="form">
            <div class="form-group">
                <label for="allowedRisk">Allowed Risk </label>
                <input type="text" class="form-control" id="allowedRisk"  ng-model='riskParameters.allowedRisk'>
            </div>

            <div class="form-group">
                <label for="allowedRiskPerTrade">Allowed Risk per Trade </label>
                <input type="text" class="form-control" id="allowedRiskPerTrade"  ng-model='riskParameters.allowedRiskPerTrade'>
            </div>


            <button type="submit" class="btn btn-success" ng-click='save()'>Save it ang go to Account</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel and back to Account</button>

        </form>
    </div>
</div>



