<a href="#/accounts"> Back to Account listing</a>
        <h2>Account: {{account.name}}</h2>

<div ng-include src="'js/app/accounts/views/_accountMenu.html'"></div>

<div ng-if="openTrades.length>0" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Open Trades</div>
    <div class="panel-body">
        Account open risk:
        <span class="badge {{accountOpenRisk > riskParameters.allowedRisk? 'danger': 'tradeOk'}}">{{accountOpenRisk | percentage}}</span>


    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type</th>
            <th>Symbol</th>
            <th>Open</th>
            <th>Duration</th>
            <th>Rmultiple</th>
            <th>Account at Risk</th>
            <th># Orders</th>
            <th></th>


        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="trade in openTrades">
            <td>{{trade.type}}</td>
            <td>{{trade.symbol}}</td>
            <td>{{trade.openTime}}</td>
            <td>{{trade.duration}}</td>
            <td>{{trade.rmultiple}}</td>
            <td><span
                    class="badge {{ trade.riskAmmount/balanceSummary.balance > riskParameters.allowedRiskPerTrade? 'danger': 'tradeOk'}}">{{(trade.riskAmmount/balanceSummary.balance) | percentage}}</span>
            </td>

            <td>{{trade.orders.length}}</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm" ng-click="deleteTrade(trade.id)"
                        title="Remove this trade!">

                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <a href="#/accounts/{{account.id}}/trades/{{trade.id}}">
                    <button type="button" class="btn btn-success btn-sm" title="Open">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div ng-if="openTrades.length==0">No Open Trades</div>

<div ng-if="plannedTrades.length>0" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Planned Trades</div>
    <div class="panel-body">
        Account planned risk:
        <span class="badge {{accountPlannedRisk > riskParameters.allowedRisk? 'danger': 'tradeOk'}}">{{accountPlannedRisk | percentage}}</span>


    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type</th>
            <th>Symbol</th>
            <th>Rmultiple</th>
            <th>Account at Risk</th>
            <th># Orders</th>
            <th></th>


        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="trade in plannedTrades">
            <td>{{trade.type}}</td>
            <td>{{trade.symbol}}</td>
            <td>{{trade.rmultiple}}</td>
            <td><span
                    class="badge {{ trade.riskAmmount/balanceSummary.balance > riskParameters.allowedRiskPerTrade? 'danger': 'tradeOk'}}">{{(trade.riskAmmount/balanceSummary.balance) | percentage}}</span>
            </td>

            <td>{{trade.orders.length}}</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm" ng-click="deleteTrade(trade.id)"
                        title="Remove this trade!">

                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <a href="#/accounts/{{account.id}}/trades/{{trade.id}}">
                    <button type="button" class="btn btn-success btn-sm" title="Open">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                </a>

            </td>


        </tr>
        </tbody>
    </table>

</div>
<div ng-if="plannedTrades.length==0">No Open Trades</div>

<div ng-if="closedTrades.length==0">No ClosedTrades</div>
<div ng-if="closedTrades.length>0" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Closed Trades</div>
    <div class="panel-body">




        <div class="row">
            <div class="col-xs-6 col-md-4">

                <ul class="list-group">

                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.closedTrades}}</span>
                        Closed Trades
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.tradesPerDay | number: 2}}</span>
                        Trade per day
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.averageDuration | number: 2}}</span>
                        Average Duration
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.averageRmultiple | number: 2}}</span>
                        Average RMultiple
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.averageNetRmultiple | number: 2}}</span>
                        Average NET RMultiple
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.expectunity | number: 2}}</span>
                        Expectunity
                    </li>

                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.netexpectunity| number: 2}}</span>
                        Net Expectunity
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.traderRatio| number: 2}}</span>
                        Trader Ratio
                    </li>

                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.transactionCosts| number: 2}}€</span>
                        Trading costs
                    </li>

                </ul>

            </div>
            <!--Winners-->
            <div class="col-xs-6 col-md-4">


                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.winners}}</span>
                        Winners
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.winnerRatio | percentage}}</span>
                        Winning Ratio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.totalWinnerRmultiple | number: 2}}</span>
                        Sum Winner R Multiple
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.totalWinnerNetrmultiple| number: 2}}</span>
                        Total Winner Net R Multiple
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.averageWinnerRmultiple | number: 2}}</span>
                        Average Winner R Multiple
                    </li>

                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.averageWinnerMaer | number: 2}}</span>
                        Average Winner MAEr
                    </li>

                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.averageWinnerDuration | number: 2}}</span>
                        Average Winner duration
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.winnerSum | number: 2}}€</span>
                        Winners Sum
                    </li>

                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.biggestWinner| number: 2}}€</span>
                        Biggest Winner
                    </li>


                </ul>

            </div>
            <!--Loosers-->
            <div class="col-xs-6 col-md-4">


                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.loosers}}</span>
                        Loosers
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.looserRatio | percentage}}</span>
                        Loosing Ratio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.totalLooserRmultiple | number: 2}}</span>
                        Sum Looser R Multiple
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.totalLooserNetrmultiple| number: 2}}</span>
                        Total Looser Net R Multiple
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.averageLooserRmultiple | number: 2}}</span>
                        Average Looser R Multiple
                    </li>

                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.averageLooserMaer | number: 2}}</span>
                        Average Looser MAEr
                    </li>

                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.averageLooserDuration | number: 2}}</span>
                        Average Looser duration
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.looserSum | number: 2}}€</span>
                        Loosers Sum
                    </li>

                    <li class="list-group-item">
                        <span class="badge">{{closedSummary.biggestLooser| number: 2}}€</span>
                        Biggest Looser
                    </li>


                </ul>

            </div>


        </div>


    </div>


    <ul class="pager">
        <li><a ng-click="previousPage()">Previous</a></li>
        <li>{{closedTradePageRequestInfo.page}}</li>

        <li><a ng-click="nextPage()">Next</a></li>
        <li>Page Size:
            <select ng-model="closedTradePageRequestInfo.pageSize">
                <option>10</option>
                <option>20</option>
            </select>
        </li>
    </ul>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type</th>
            <th>Symbol</th>
            <th>Open</th>
            <th>Close</th>
            <th>Duration</th>
            <th>Reward</th>
            <th>Rmultiple</th>
            <th>Net Rmultiple</th>
            <th>MAEr</th>
            <th># Orders</th>
            <th>P/L</th>
            <th>Transaction Costs</th>

            <th>Win/Loose</th>
            <th></th>


        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="trade in closedTrades">
            <td>{{trade.type}}</td>
            <td>{{trade.symbol}}</td>
            <td>{{trade.openTime}}</td>
            <td>{{trade.closeTime}}</td>
            <td>{{trade.duration}}</td>
            <td><span class="badge {{trade.closeReward < 0? 'danger': 'tradeOk'}}">{{trade.closeReward}}</span></td>
            <td>{{trade.rmultiple | number: 2}}</td>
            <td>{{trade.afterCostsRmultiple | number: 2 }}</td>
            <td>{{trade.maximumAdverseExcursion | number: 2}}</td>

            <td>{{trade.orders.length}}</td>


            <td><span class="badge {{trade.profitLoss < 0? 'danger': 'tradeOk'}}">{{trade.profitLoss | number: 2 }}€</span></td>
            <td>{{trade.transactionCostCurrency | number:2 }}€</td>
            <td>
                <span ng-if="trade.winner" class="badge tradeOk">Winner</span>
                <span ng-if="!trade.winner" class="badge danger">Looser</span>

            </td>


            <td>
                <button type="button" class="btn btn-danger btn-sm" ng-click="deleteTrade(trade.id)"
                        title="Remove this trade!">

                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <a href="#/accounts/{{account.id}}/trades/{{trade.id}}">
                    <button type="button" class="btn btn-success btn-sm" title="Open">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                </a>

            </td>


        </tr>
        </tbody>
    </table>

</div>



