.view-container {

    margin-top: 50px;
}

.modal-dialog.message .modal-content {
    border: none;
}

.modal-dialog.message .modal-content .modal-body {

    padding: 0px;

}

a.no-href {
    cursor: pointer;
}

.twitter-add {
    background: url("/images/sprite-twitter.png") no-repeat scroll 0 -119px rgba(0, 0, 0, 0);
    height: 19px;
    left: 0;
    top: 0;
}


img.thumbnail-image {
    width: 100px;
    height: 100px;
}


.danger {
    background-color: red;
}
.tradeOk {
    background-color: green;
}


.container {
    width: 100%;
}