<hr>

<div class="panel panel-default">
    <div class="panel-heading">

        <h3 class="panel-title" ng-if="!unfollowbotInstance.id">New Unfollow Bot {{unfollowbotInstance.name}}</h3>
        <h3 class="panel-title" ng-if="unfollowbotInstance.id">View/Edit Follow Bot {{unfollowbotInstance.name}}</h3>
    </div>
    <div class="panel-body">


        <form name="newUnfollowBot" ng-controller="newUnfollowbotFormCtrl">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" ng-model="unfollowbotInstance.name">
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Screener Parameterization</h3>
                </div>
                <div class="panel-body">
                    <tabset justified="true">

                        <tab heading="General Parameters">

                            <div class="form-group">
                                <label for="languageCode">Language Code</label>
                                <input class="form-control" id="languageCode"
                                       ng-model="unfollowbotInstance.twitterUserScreenerOptions.languageCode">
                            </div>

                        </tab>

                        <tab heading="Social Activity Parameters">
                            <div class="form-group">
                                <label for="minFollowingFollowerRatio">Min Following to Follower Ratio</label>
                                <input class="form-control" id="minFollowingFollowerRatio"
                                       ng-model="unfollowbotInstance.twitterUserScreenerOptions.socialActivityMatcherOptions.minFollowingFollowerRatio">
                            </div>

                            <div class="form-group">
                                <label for="maxFollowingFollowerRatio">Max Following to Follower Ratio</label>
                                <input class="form-control" id="maxFollowingFollowerRatio"
                                       ng-model="unfollowbotInstance.twitterUserScreenerOptions.socialActivityMatcherOptions.maxFollowingFollowerRatio">
                            </div>


                        </tab>


                        <tab heading="Activity Parameters">
                            <div class="form-group">
                                <label for="minimumLastTweetAgeInDays">Minimum Last Tweet Age In Days</label>
                                <input class="form-control" id="minimumLastTweetAgeInDays"
                                       ng-model="unfollowbotInstance.twitterUserScreenerOptions.activityMatcherOptions.minimumLastTweetAgeInDays">
                            </div>
                            <div class="form-group">
                                <label for="averageTweetsPerDay">Average of Tweets per day</label>
                                <input class="form-control" id="averageTweetsPerDay"
                                       ng-model="unfollowbotInstance.twitterUserScreenerOptions.activityMatcherOptions.averageTweetsPerDay">
                            </div>

                            <div class="form-group">
                                <label for="minimumTweets">Minimum Tweets</label>
                                <input class="form-control" id="minimumTweets"
                                       ng-model="unfollowbotInstance.twitterUserScreenerOptions.activityMatcherOptions.minimumTweets">
                            </div>


                        </tab>
                        <tab heading="Keyword Parameters">
                            <div class="form-group">
                                <label for="screenerKeywords">Keywords</label>
                                <input class="form-control" id="screenerKeywords"
                                       ng-model="unfollowbotInstance.twitterUserScreenerOptions.keywordMatcherOptions.keywords">
                            </div>

                            <div class="form-group">
                                <label for="updatesToAnalize">Updates to analise</label>
                                <input class="form-control" id="updatesToAnalize"
                                       ng-model="unfollowbotInstance.twitterUserScreenerOptions.keywordMatcherOptions.updatesToAnalyse">
                            </div>

                            <div class="form-group">
                                <label for="minimumKeyWordCount">Minimum of keywords found in batch</label>
                                <input class="form-control" id="minimumKeyWordCount"
                                       ng-model="unfollowbotInstance.twitterUserScreenerOptions.keywordMatcherOptions.minimumKeyWordCount">
                            </div>

                        </tab>

                    </tabset>

                </div>
            </div>


            <button class="btn btn-success" ng-if="!unfollowbotInstance.id" ng-click="create()">Create</button>
            <button class="btn btn-success" ng-if="unfollowbotInstance.id" ng-click="update()">Update</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </form>

    </div>
</div>
