<h1>Twitter Unfollow Bots</h1>
<button type="button" class="btn btn-primary" ng-click="newUnfollowbot()">
    <span class="glyphicon glyphicon-plus-sign"></span>
    New Unfollow Bot
</button>

<div ng-if="unfollowbotInstance" ng-include src="'js/app/twitter/unfollowbots/views/_createUnfollowbotForm.html'"></div>


<div ng-if='applications.length==0'>
    There are no Follow Bots configured
</div>


<div ng-if='unfollowbots.length>0'>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Name</td>
            <td>User Retrieval Strategy</td>


            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr class="animate-repeat" ng-repeat="unfollowbot in unfollowbots">
            <td>{{unfollowbot.name}}</td>
            <td>{{unfollowbot.twitterUserRetrievalStrategy.type}}</td>

            <td>
                <button type="button" class="btn glyphicon glyphicon-minus-sign" ng-click="remove(unfollowbot)"
                        title="Remove Follow Bot">

                </button>
                <button type="button" class="btn glyphicon glyphicon-edit" ng-click="edit(unfollowbot)"
                        title="Remove Follow Bot">

                </button>

                <a href="#/twitter/unfollowbots/{{unfollowbot.id}}/schedule" class="btn glyphicon glyphicon-calendar"
                        title="Schedule for this follow bot">
                </a>



            </td>
        </tr>
        </tbody>
    </table>
</div>



