<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="thumbnail-image" src="/images/twitter_black.png" alt="Twitter">

            <div class="caption">
                <h3>Manage your Accounts</h3>

                <p>Manage your Accounts</p>

                <p>
                    <a href="#/accounts" class="btn btn-default" role="button">Go to Accounts now</a>

                </p>
            </div>
        </div>

</div>
</div>