<hr xmlns="http://www.w3.org/1999/html">

<div class="panel panel-default">
    <div class="panel-heading">

        <h3 class="panel-title" ng-if="!unfollowbotScheduledEventInstance.id">Unfollowbot Scheduled Event
            {{unfollowbotScheduledEventInstance.name}}</h3>

        <h3 class="panel-title" ng-if="unfollowbotScheduledEventInstance.id">View/Edit Unfollowbot Scheduled Event:
            {{unfollowbotScheduledEventInstance.name}}</h3>
    </div>
    <div class="panel-body">


        <form name="newUnfollowbotScheduledEventForm" ng-controller="newUnfollowbotScheduledEventFormCtrl">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" ng-model="unfollowbotScheduledEventInstance.name">
            </div>

            <div class="form-group">
                <label for="minFollowingToFollowerRatio">Unfollow until reach FollowingToFolloweRation</label>
                <input class="form-control" id="minFollowingToFollowerRatio" ng-model="unfollowbotScheduledEventInstance.minFollowingToFollowerRatio">
            </div>


            <div class="form-group">
                <label for="applicationId">Select Application</label>
                <select class="form-control" id="applicationId"
                        ng-model="unfollowbotScheduledEventInstance.applicationId">
                    <option ng-repeat='application in applications' value="{{application.id}}">{{application.name}}
                    </option>

                </select>
            </div>

            <div class="form-group">
                <label for="accountId">Select Account</label>
                <select class="form-control" id="accountId" ng-model="unfollowbotScheduledEventInstance.accountId">
                    <option ng-repeat='account in accounts' value="{{account.id}}">{{account.name}}</option>
                </select>
            </div>


            <!--Trigger pannel-->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Trigger Details</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <button class="btn btn-default btn-xs" ng-click="daysSelectorHelper.toggleAll()">Every day
                        </button>
                        <label ng-repeat="day in DAYS">
                            <input type="checkbox"
                                   ng-checked="unfollowbotScheduledEventInstance.trigger.days.indexOf(day) > -1"
                                   ng-click="daysSelectorHelper.toggleDay(day)">
                            {{day}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="hourCronExpression">Hour</label>
                        <input class="form-control" id="hourCronExpression"
                               ng-model="unfollowbotScheduledEventInstance.trigger.hourCronExpression">
                    </div>

                    <div class="form-group">
                        <label for="minuteCronExpression">Minute</label>
                        <input class="form-control" id="minuteCronExpression"
                               ng-model="unfollowbotScheduledEventInstance.trigger.minuteCronExpression">
                    </div>


                </div>
            </div>


            <!--Screener runner parameters-->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Screener Execution parameters</h3>
                    <p>What does the screen should do?</p>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="maxUsersToScreen">Max Users to screen per execution of the screener</label>
                        <input class="form-control" id="maxUsersToScreen"
                               ng-model="unfollowbotScheduledEventInstance.screenerExecutionParameters.maxUsersToScreen">
                    </div>

                </div>
            </div>


            <!--Un Follow Queue pannel-->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Unfollow Queue</h3>
                    <p>Define how the Users found to be unfollowed will be effective unfollowed.</p>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="maxFollowQueueSize">Max Queue Size</label>
                        <input class="form-control" id="maxFollowQueueSize"
                               ng-model="unfollowbotScheduledEventInstance.unfollowQueueOptions.maxSize">
                    </div>

                    <div class="form-group">
                        <label for="UnfollowdequeueBatchSize">Dequeue batch Size</label>
                        <input class="form-control" id="UnfollowdequeueBatchSize"
                               ng-model="unfollowbotScheduledEventInstance.unfollowQueueOptions.dequeueBatchSize">
                    </div>

                    <div class="form-group">
                        <label for="unfollowDequeueFrequencyMinutes">Dequeue Frequency in Minutes</label>
                        <input class="form-control" id="unfollowDequeueFrequencyMinutes"
                               ng-model="unfollowbotScheduledEventInstance.unfollowQueueOptions.minuteCronExpression">
                    </div>

                </div>
            </div>


            <button class="btn btn-success" ng-if="!unfollowbotScheduledEventInstance.id" ng-click="create()">Create
            </button>
            <button class="btn btn-success" ng-if="unfollowbotScheduledEventInstance.id" ng-click="update()">Update
            </button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </form>

    </div>
</div>
