<h1>Twitter UnFollow Bots Scheduled Events for bot: {{unfollowbot.name}}</h1>


<button type="button" class="btn btn-default btn-sm"  ng-click="newUnfollowbotScheduledEventInstance()" title="New Scheduled Unfollow Follow Bot">
    <span class="glyphicon glyphicon-plus"></span> New Follow Bot Event
</button>

<div ng-if="unfollowbotScheduledEventInstance" ng-include src="'js/app/twitter/unfollowbotScheduledEvents/views/_createUnfollowbotScheduledEventForm.html'"></div>





<div ng-if='unfollowbotScheduledEvents.length>0'>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Name</td>
            <td>Application</td>
            <td>Account</td>
            <td>Trigger</td>
            <td>Status</td>
            <td>Queues</td>

            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr class="animate-repeat" ng-repeat="unfollowbotScheduledEvent in unfollowbotScheduledEvents" ng-controller="UnfollowbotScheduledEventEntryCtrl" ng-model="unfollowbotScheduledEvent">
            <td>{{unfollowbotScheduledEventEntry.name}}</td>
            <td>{{unfollowbotScheduledEventEntry.application}}</td>
            <td>{{unfollowbotScheduledEventEntry.account}}</td>
            <td>{{unfollowbotScheduledEventEntry.trigger}}</td>
            <td>{{unfollowbotScheduledEventEntry.status}}</td>
            <td>{{unfollowbotScheduledEventEntry.queues}}</td>
            <td>
                <button type="button" class="btn glyphicon glyphicon-minus-sign" ng-click="remove()" title="Remove unfollowbotScheduledEvent"/>
                <button type="button" class="btn glyphicon glyphicon-edit" ng-click="edit()" title="Edit..."/>
                <button ng-if="unfollowbotScheduledEventEntry.status == 'INACTIVE'" type="button" class="btn glyphicon glyphicon-thumbs-up" ng-click="activate()" title="Activate"/>
                <button ng-if="unfollowbotScheduledEventEntry.status == 'ACTIVE'" type="button" class="btn glyphicon glyphicon-thumbs-down" ng-click="deactivate()" title="Deactivate"/>

            </td>
        </tr>
        </tbody>
    </table>
</div>


