<script type="text/ng-template" id="viewEventJob.html">


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Event Job</h3>
        </div>
        <div class="panel-body">
            <p>
                Description: {{eventJobInstance.description}}
            </p>

            <p>
                Group: {{eventJobInstance.key.group}}
            </p>

            <p>
                Key: {{eventJobInstance.key.key}}
            </p>

            <p>
                Last run: {{eventJobInstance.activeTrigger.lastRunAt | date : 'medium'}}
            </p>

            <p>
                Next run: {{eventJobInstance.activeTrigger.nextRun | date : 'medium'}}
            </p>

            <p>
                Run Count: {{eventJobInstance.activeTrigger.runCount}}
            </p>

            <p>
                Cron Expression: {{eventJobInstance.activeTrigger.cronExpression}}
            </p>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Logs</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <td>Date</td>
                        <td>Message</td>
                        </thead>
                        <tbody>
                        <tr ng-repeat="log in eventJobInstance.logEntries">
                            <td>{{log.time | date : 'medium' }}</td>
                            <td>{{log.message}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>

    </div>


</script>