<h1>Event Jobs</h1>

<div ng-if="eventJobs.length > 0">



    <table class="table table-striped">
        <thead>
        <tr>

            <td>Description</td>
            <td>Last Run</td>
            <td>Next Run</td>
            <td>Run Count</td>
            <td>Cron expression</td>

        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="eventJob in eventJobs" ng-controller="EventJobEntryCtrl" ng-click="viewEventJob(eventJob)">

            <td>{{eventJob.description}}</td>
            <td>{{eventJob.activeTrigger.lastRunAt | date : 'medium'}}</td>
            <td>{{eventJob.activeTrigger.nextRun | date : 'medium'}}</td>
            <td>{{eventJob.activeTrigger.runCount}}</td>
            <td>{{eventJob.activeTrigger.cronExpression}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-if="accounts.length == 0 && application.id">
    <h3>{{selectedApplication.name}}</h3>

    <h5>There are no Accounts configured for application {{application.name}}</h5>

</div>

<div ng-include src="'js/app/scheduler/eventjobs/views/_viewEventjob.html'"></div>
