<script type="text/ng-template" id="createTwitterUpdateDialog.html">

    <form role="form" name="newTwittwerUpdateForm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createTwitterUpdateModalLabel">New Update
                    ({{newTwitterUpdate.application.name}} -> {{newTwitterUpdate.account.screenName}})</h4>
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <label for="updateInput">Text</label>
                    <textarea class="form-control" id="updateInput"
                              placeholder="Enter update text" required ng-model="newTwitterUpdate.text"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
                <button type="button" ng-disabled="newTwittwerUpdateForm.$invalid" class="btn btn-primary" ng-click="ok()">Create Status</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </form>


</script>
