<h1>Account: {{account.name}}</h1>
<h2>Managed Twitter Accounts</h2>



<button type="button" class="btn btn-default btn-sm" ng-click="authorization(application)" title="Add new Account">
    <span class="glyphicon glyphicon-plus"></span> Add account
</button>

<button type="button" class="btn btn-default btn-sm" ng-click="refresh()" title="Refresh">
    <span class="glyphicon glyphicon-refresh"></span> Refresh
</button>


<div ng-if="twitterAccounts.length > 0">



    <table class="table table-striped">
        <thead>
            <tr>

                <td></td>
                <td>ScreenName</td>
                <td>Name</td>
                <td>Friends</td>
                <td>Followers</td>
                <td>Rate Limit</td>
                <td>Statuses Count</td>
                <td>Last Status</td>
                <td>Last Status Date</td>
                <td></td>
            </tr>
        </thead>
        <tbody>

        <tr  ng-repeat="twitterAccount in twitterAccounts">

            <td><img ng-src="{{twitterAccount .profileImageUrl}}"></td>
            <td><a href="#/accounts/{{account.id}}/twitter/accounts/{{twitterAccount.id}}">{{twitterAccount.screenName}}</a></td>
            <td>{{twitterAccount.name}}</td>
            <td>{{twitterAccount.friendsCount}}</td>
            <td>{{twitterAccount.followersCount}}</td>
            <td>{{twitterAccount.rateLimit}} / {{twitterAccount.rateLimitRemaining}}</td>
            <td>{{twitterAccount.statusesCount}}</td>
            <td>{{twitterAccount.status}}</td>
            <td>{{twitterAccount.statusDate}}</td>


            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">

                        <li><a class="no-href" ng-click="synchronizeAccount(twitterAccount)">Synchonize</a></li>
                        <li class="divider"></li>
                        <li><a class="no-href" ng-click="removeAccount(twitterAccount)">Remove</a></li>

                    </ul>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<div ng-if="accounts.length == 0 && application.id">
    <h3>{{selectedApplication.name}}</h3>

    <h5>There are no Accounts configured for application {{application.name}}</h5>

</div>

<div ng-include src="'js/app/twitter/accounts/views/_createTwitterStatusDialog.html'"></div>
