<ol class="breadcrumb">
    <li><a href="#/accounts/{{account.id}}">{{account.name}}</a></li>
    <li><a href="#/accounts/{{account.id}}/twitter/accounts">Twitter Accounts</a></li>
    <li><a href="#/accounts/{{account.id}}/twitter/accounts/{{twitterAccount.id}}">{{twitterAccount.screenName}}</a>
    </li>
    <li class="active">Friend Crawl configuration</li>
</ol>

<a href="#/accounts/{{account.id}}/twitter/accounts/{{twitterAccount.id}}/friendcrawl/crawled">Crawled Users</a></li>
<a href="#/accounts/{{account.id}}/twitter/accounts/{{twitterAccount.id}}/friendcrawl/log">Logs</a></li>


<div class="panel panel-default">
    <div class="panel-heading">Twitter User crawl configuration for {{twitterAccount.screenName}}</div>
    <div class="panel-body">

        <tabset justified="true">
            <tab heading="Crawl Strategies">

                <div ng-repeat="strategy in friendCrawl.strategies">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="strategy.active">{{strategy.name}}
                        </label>
                    </div>
                    <div class="form-group" ng-if="strategy.active">
                        <label for="parameters_{{strategy.id}}">Parameters</label>
                        <input class="form-control" id="parameters_{{strategy.id}}"
                               ng-model="strategy.options">
                    </div>

                </div>

                <button type="submit" class="btn btn-success" ng-click='updateUsersCrawConfiguration()'>Save</button>


            </tab>
            <tab heading="Execution">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="friendCrawl.friendCrawlExecutionParams.active">Crawl Active
                    </label>
                </div>
                <div class="form-group" >
                    <label for="intervalInSeconds">Interval (seconds)</label>
                    <input class="form-control" id="intervalInSeconds"
                           ng-model="friendCrawl.friendCrawlExecutionParams.intervalInSeconds">
                </div>

                <div class="form-group" >
                    <label for="resultsSizeLimit">Stop at limit of crawled</label>
                    <input class="form-control" id="resultsSizeLimit"
                           ng-model="friendCrawl.friendCrawlExecutionParams.resultsSizeLimit">
                </div>

                <div class="form-group" >
                    <label for="runIfRateLimitHigherThan">Run only if rate limit is higher than</label>
                    <input class="form-control" id="runIfRateLimitHigherThan"
                           ng-model="friendCrawl.friendCrawlExecutionParams.runIfRateLimitHigherThan">
                </div>

                <div class="form-group" >
                    <label for="runs">Runs</label>
                    <input class="form-control" id="runs" disabled
                           ng-model="friendCrawl.runs">
                </div>

                <div class="form-group" >
                    <label for="nextRun">Next Run</label>
                    <input class="form-control" id="nextRun" disabled
                           ng-model="friendCrawl.friendCrawlExecutionParams.nextRun">
                </div>
                <div class="form-group" >
                    <label for="lastRun">Last Run</label>
                    <input class="form-control" id="lastRun" disabled
                           ng-model="friendCrawl.friendCrawlExecutionParams.lastRun">
                </div>



                <button type="submit" class="btn btn-success" ng-click='updateUsersCrawConfiguration()'>Save</button>



            </tab>
        </tabset>

    </div>


</div>


