<ol class="breadcrumb">
    <li><a href="#/accounts/{{account.id}}">{{account.name}}</a></li>
    <li><a href="#/accounts/{{account.id}}/twitter/accounts">Twitter Accounts</a></li>
    <li><a href="#/accounts/{{account.id}}/twitter/accounts/{{twitterAccount.id}}">{{twitterAccount.screenName}}</a>
    </li>
    <li><a href="#/accounts/{{account.id}}/twitter/accounts/{{twitterAccount.id}}/friendcrawl">Friend Crawl</a></li>
    <li class="active">Friend Crawl Log</li>
</ol>

<button type="button" class="btn btn-info btn-sm" ng-click="refresh()">
    <span class="glyphicon glyphicon-refresh" title="Refresh"></span>
</button>


<button type="button" class="btn btn-danger btn-sm" ng-click="removeAll()">
    <span class="glyphicon glyphicon-remove" title="Clear All Logs"></span>
</button>

<button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-floppy-save" title="Archive"></span>
</button>


<ul class="pager">
    <li class="next" ng-if="!isLastPage"><a class="no-href" ng-click="nextPage()">Older &rarr;</a></li>
    <li class="previous" ng-if="!isFirstPage"><a class="no-href" ng-click="previousPage()">&larr; Newer</a></li>
</ul>
<p>Page {{logsPage.currentPage}} of {{logsPage.numberOfPages}}</p>

<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
         aria-valuemax="100" style="width: {{percentage}}%">
        <span class="sr-only">{{percentage}}% Complete (success)</span>
    </div>
</div>


<table class="table table-striped">

    <thead>
    <tr>
        <td>Date</td>
        <td>Message</td>
        <td>Strategy</td>
        <td>Account</td>
        <td>Twitter Screen Name</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="log in logsPage.logs">
        <td>{{log.eventTime}}</td>
        <td>{{log.message}}</td>
        <td>{{log.strategyName}}</td>
        <td>{{log.accountName}}</td>
        <td>{{log.twitterAccountScreenName}}</td>

    </tr>

    </tbody>
</table>

<ul class="pager">
    <li class="next" ng-if="!isLastPage"><a class="no-href" ng-click="nextPage()">Older &rarr;</a></li>
    <li class="previous" ng-if="!isFirstPage"><a class="no-href" ng-click="previousPage()">&larr; Newer</a></li>
</ul>
<p>Page {{logsPage.currentPage}} of {{logsPage.numberOfPages}}</p>

<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
         aria-valuemax="100" style="width: {{percentage}}%">
        <span class="sr-only">40% Complete (success)</span>
    </div>
</div>
