<ol class="breadcrumb">
    <li><a href="#/accounts/{{account.id}}">{{account.name}}</a></li>
    <li><a href="#/accounts/{{account.id}}/twitter/accounts">Twitter Accounts</a></li>
    <li><a class="active">{{twitterAccount.screenName}}</a></li>
</ol>

<a href="#/accounts/{{account.id}}/twitter/accounts/{{twitterAccount.id}}/friendcrawl">Users crawl
    configuration</a></li>

<div class="panel panel-default">
    <div class="panel-heading">{{twitterAccount.screenName}}
        <button type="button" class="btn btn-default btn-sm" ng-click="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>

    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td colspan="2">
                    <img ng-src="{{twitterAccount .profileImageUrl}}">
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><strong>{{twitterAccount.screenName}}</strong></td>
            </tr>

            <tr>
                <td>Last Status:</td>
                <td><strong>{{twitterAccount.status}}</strong></td>
            </tr>

            <tr>
                <td>Last Status date:</td>
                <td><strong>{{twitterAccount.statusDate}}</strong></td>
            </tr>

            <tr>
                <td>Statuses Count:</td>
                <td><strong>{{twitterAccount.statusesCount}}</strong></td>
            </tr>

            <tr>
                <td>Friends Count:</td>
                <td><strong>{{twitterAccount.friendsCount}}</strong></td>
            </tr>

            <tr>
                <td>Followers Count:</td>
                <td><strong>{{twitterAccount.followersCount}}</strong></td>
            </tr>


            <tr>
                <td>Friends to Followers Ration</td>
                <td><strong>{{twitterAccount.friendsCount / twitterAccount.followersCount}}</strong></td>
            </tr>

            <tr>
                <td>Rate Limit:</td>
                <td><strong>{{twitterAccount.rateLimit}}</strong></td>
            </tr>

            <tr>
                <td>Rate Limit Remaining:</td>
                <td><strong>{{twitterAccount.rateLimitRemaining}}</strong></td>
            </tr>

            <tr>
                <td>Rate Limit Reset (Seconds):</td>
                <td><strong>{{twitterAccount.rateLimitResetTimeInSecond}}</strong></td>
            </tr>

            <tr>
                <td>Remaining seconds until reset limit:</td>
                <td><strong>{{twitterAccount.rateLimitSecondsUntilReset}}</strong></td>
            </tr>


        </table>
    </div>
</div>

