<hr xmlns="http://www.w3.org/1999/html">

<div class="panel panel-default">
    <div class="panel-heading">

        <h3 class="panel-title" ng-if="!followbotScheduledEventInstance.id">New Follow Bot Scheduled Event
            {{followbotScheduledEventInstance.name}}</h3>

        <h3 class="panel-title" ng-if="followbotScheduledEventInstance.id">View/Edit New Follow Bot Scheduled Event
            {{followbotScheduledEventInstance.name}}</h3>
    </div>
    <div class="panel-body">


        <form name="newFollowbotScheduledEventForm" ng-controller="newFollowbotScheduledEventFormCtrl">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" ng-model="followbotScheduledEventInstance.name">
            </div>

            <div class="form-group">
                <label for="maxFollowingToFollowerRatio">Keep Following to Followers ratio under: </label>
                <input class="form-control" id="maxFollowingToFollowerRatio" ng-model="followbotScheduledEventInstance.maxFollowingToFollowerRatio">
            </div>


            <div class="form-group">
                <label for="applicationId">Select Application</label>
                <select class="form-control" id="applicationId"
                        ng-model="followbotScheduledEventInstance.applicationId">
                    <option ng-repeat='application in applications' value="{{application.id}}">{{application.name}}
                    </option>

                </select>
            </div>

            <div class="form-group">
                <label for="accountId">Select Account</label>
                <select class="form-control" id="accountId" ng-model="followbotScheduledEventInstance.accountId">
                    <option ng-repeat='account in accounts' value="{{account.id}}">{{account.name}}</option>
                </select>
            </div>


            <!--Trigger pannel-->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Trigger Details</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <button class="btn btn-default btn-xs" ng-click="daysSelectorHelper.toggleAll()">Every day
                        </button>
                        <label ng-repeat="day in DAYS">
                            <input type="checkbox"
                                   ng-checked="followbotScheduledEventInstance.trigger.days.indexOf(day) > -1"
                                   ng-click="daysSelectorHelper.toggleDay(day)">
                            {{day}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="hourCronExpression">Hour</label>
                        <input class="form-control" id="hourCronExpression"
                               ng-model="followbotScheduledEventInstance.trigger.hourCronExpression">
                    </div>

                    <div class="form-group">
                        <label for="minuteCronExpression">Minute</label>
                        <input class="form-control" id="minuteCronExpression"
                               ng-model="followbotScheduledEventInstance.trigger.minuteCronExpression">
                    </div>


                </div>
            </div>
            <!--Screen Queue pannel-->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Screen Queue Options</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="maxScreenQueueSize">Max Queue Size</label>
                        <input class="form-control" id="maxScreenQueueSize"
                               ng-model="followbotScheduledEventInstance.followbotScreenQueueOptions.maxSize">
                    </div>

                    <div class="form-group">
                        <label for="screenDequeueBatchSize">Dequeue batch Size</label>
                        <input class="form-control" id="screenDequeueBatchSize"
                               ng-model="followbotScheduledEventInstance.followbotScreenQueueOptions.dequeueBatchSize">
                    </div>

                    <div class="form-group">
                        <label for="minutesCronExpression">Dequeue Frequency in Minutes</label>
                        <input class="form-control" id="minutesCronExpression"
                               ng-model="followbotScheduledEventInstance.followbotScreenQueueOptions.minuteCronExpression">
                    </div>

                </div>
            </div>

            <!--Follow Queue pannel-->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">Follow Queue</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="maxFollowQueueSize">Max Queue Size</label>
                        <input class="form-control" id="maxFollowQueueSize"
                               ng-model="followbotScheduledEventInstance.followbotFollowQueueOptions.maxSize">
                    </div>

                    <div class="form-group">
                        <label for="follownDequeueBatchSize">Dequeue batch Size</label>
                        <input class="form-control" id="follownDequeueBatchSize"
                               ng-model="followbotScheduledEventInstance.followbotFollowQueueOptions.dequeueBatchSize">
                    </div>

                    <div class="form-group">
                        <label for="followDequeueFrequencyMinutes">Dequeue Frequency in Minutes</label>
                        <input class="form-control" id="followDequeueFrequencyMinutes"
                               ng-model="followbotScheduledEventInstance.followbotFollowQueueOptions.minuteCronExpression">
                    </div>

                </div>
            </div>


            <button class="btn btn-success" ng-if="!followbotScheduledEventInstance.id" ng-click="create()">Create
            </button>
            <button class="btn btn-success" ng-if="followbotScheduledEventInstance.id" ng-click="update()">Update
            </button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </form>

    </div>
</div>
