

<h1>Follow Queue for Followbot {{followbotScheduledEvent.name}}</h1>
<h2>Size: {{followQueue.cachedTwitterUsers.length}}</h2>
<button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="clearFollowQueue(followQueue)"
        title="Clear Follow Queue">Clear Follow Queue</button>

<div class="row">


    <div class="col-md-3" ng-repeat="user in followQueue.cachedTwitterUsers">
        <div class="thumbnail" style="height: 500px">
            <img ng-src="{{user.profileImageUrl}}">
            <p><strong>Name: </strong>{{user.name}}</p>
            <p><strong>Screen Name: </strong>{{user.screenName}}</p>
            <p><strong>Description: </strong>{{user.description | characters: 25}}</p>
            <p><strong>Followers: </strong>{{user.followersCount}}</p>
            <p><strong>Following: </strong>{{user.friendsCount}}</p>
            <p><strong>Following to Follower ratio: </strong>{{user.friendsCount / user.followersCount }}</p>
            <p><strong>Tweets: </strong>{{user.statusesCount}}</p>
            <p><strong>Member Since: </strong>{{user.createdAt | date : 'fullDate'}}</p>
            <p><strong>Favorites: </strong>{{user.favoritesCount}}</p>
            <p><strong>Listed: </strong>{{user.listedCount}}</p>
            <p><a href="http://twitter.com/{{user.screenName}}" target="_blank">Twitter page</a></p>
            <button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="moveUserFromFollowQueueToIgnoreList(followQueue, user)"
                    title="Ignore this">   </button>
            <button type="button" class="btn btn-info glyphicon glyphicon-plus-sign" ng-click="followUser(followQueue, user)"
                    title="Follow now">   </button>


        </div>
    </div>

</div>

