<h1>Ignored Users for Followbot {{followbotScheduledEvent.name}}</h1>
<h2>Size: {{ignoredUsersCache.friends.length}}</h2>
<button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="clearIgnoredUsersCache(ignoredUsersCache)"
        title="Clear Ignore List">Clear cache</button>

<div class="row">


    <div class="col-md-3" ng-repeat="user in ignoredUsersCache.friends">
        <div class="thumbnail" style="height: 500px">
            <img ng-src="{{user.profileImageUrl}}">
            <p><strong>Name: </strong>{{user.name}}</p>
            <p><strong>Screen Name: </strong>{{user.screenName}}</p>
            <p><strong>Description: </strong>{{user.description | characters: 25}}</p>
            <p><strong>Followers: </strong>{{user.followersCount}}</p>
            <p><strong>Following: </strong>{{user.friendsCount}}</p>
            <p><strong>Following to Follower ratio: </strong>{{user.friendsCount / user.followersCount }}</p>
            <p><strong>Tweets: </strong>{{user.statusesCount}}</p>
            <p><strong>Member Since: </strong>{{user.createdAt | date : 'fullDate'}}</p>
            <p><strong>Favorites: </strong>{{user.favoritesCount}}</p>
            <p><strong>Listed: </strong>{{user.listedCount}}</p>
            <p><a href="http://twitter.com/{{user.screenName}}" target="_blank">Twitter page</a></p>
            <button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="removeFromIgnoredUsersCache(ignoredUsersCache, user)"
                    title="Remove this from Ignored Users">   </button>


        </div>
    </div>

</div>

