<h1>Twitter Follow Bots Schedule for bot: {{followbot.name}}</h1>


<button type="button" class="btn btn-default btn-sm"  ng-click="newFollowbotScheduledEventInstance()" title="New Scheduled Follow Bot">
    <span class="glyphicon glyphicon-plus"></span> New Follow Bot Event
</button>

<div ng-if="followbotScheduledEventInstance" ng-include src="'js/app/twitter/followbotScheduledEvents/views/_createFollowbotScheduledEventForm.html'"></div>





<div ng-if='followbotScheduledEvents.length>0'>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Name</td>
            <td>Application</td>
            <td>Account</td>
            <td>Trigger</td>
            <td>Status</td>
            <td>Queues</td>

            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr class="animate-repeat" ng-repeat="followbotScheduledEvent in followbotScheduledEvents" ng-controller="followbotScheduledEventEntryCtrl" ng-model="followbotScheduledEvent">
            <td>{{followbotScheduledEventEntry.name}}</td>
            <td>{{followbotScheduledEventEntry.application}}</td>
            <td>{{followbotScheduledEventEntry.account}}</td>
            <td><button type="button" class="btn glyphicon glyphicon-eye-open" ng-click="viewTrigger()"></button></td>
            <td>
                {{followbotScheduledEventEntry.status}}</td>
            <td>
            <a href="#/twitter/followbots/{{followbotScheduledEventEntry.followbotId}}/schedule/scheduledEvent/{{followbotScheduledEventEntry.id}}/queues">Screen Queue</a>
            </td>
            <td>
                <button type="button" class="btn glyphicon glyphicon-minus-sign" ng-click="remove()" title="Remove followbotScheduledEvent"/>
                <button type="button" class="btn glyphicon glyphicon-edit" ng-click="edit()" title="Edit..."/>
                <button ng-if="followbotScheduledEventEntry.status == 'INACTIVE'" type="button" class="btn glyphicon glyphicon-thumbs-up" ng-click="activate()" title="Activate"/>
                <button ng-if="followbotScheduledEventEntry.status == 'ACTIVE'" type="button" class="btn glyphicon glyphicon-thumbs-down" ng-click="deactivate()" title="Deactivate"/>

            </td>
        </tr>
        </tbody>
    </table>
</div>


