<ul class="nav nav-tabs">
    <li ng-class="{true: 'active', false: ''}[screens['screenQueue']]"><a href="" ng-click="show('screenQueue')">Screen Queue</a></li>
    <li ng-class="{true: 'active', false: ''}[screens['ignoredUsersCache']]"><a ng-click="show('ignoredUsersCache')">Cached Ignored Users</a></li>
    <li ng-class="{true: 'active', false: ''}[screens['followQueue']]"><a ng-click="show('followQueue')">Follow  Queue</a></li>
</ul>

<div ng-if="screens['screenQueue']" ng-include src="'js/app/twitter/followbotScheduledEvents/views/_screenQueue.html'"></div>
<div ng-if="screens['followQueue']" ng-include src="'js/app/twitter/followbotScheduledEvents/views/_followQueue.html'"></div>
<div ng-if="screens['ignoredUsersCache']" ng-include src="'js/app/twitter/followbotScheduledEvents/views/_ignoredUsersCache.html'"></div>
