<hr>

<div class="panel panel-default">
    <div class="panel-heading">

        <h3 class="panel-title" ng-if="!followbotInstance.id">New Follow Bot {{followbotInstance.name}}</h3>
        <h3 class="panel-title" ng-if="followbotInstance.id">View/Edit Follow Bot {{followbotInstance.name}}</h3>
    </div>
    <div class="panel-body">


        <form name="newFollowBot" ng-controller="newFollowbotFormCtrl">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" ng-model="followbotInstance.name">
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">User Retrieval Parameterization</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="name">User Retrieval strategy</label>
                        <select class="form-control" ng-model="followbotInstance.twitterUserRetrievalStrategy.type">
                            <option value="STATUS_KEYWORD_SEARCH">Search by keywords</option>
                            <option value="OTHER_USER_FOLLOWERS">Retrieve other user followers</option>
                            <option value="OTHER_USER_FRIEND">Retrieve other user friends</option>
                        </select>
                    </div>

                    <hr>
                    <div class="form-group" ng-if='followbotInstance.twitterUserRetrievalStrategy.type == "STATUS_KEYWORD_SEARCH"'>
                        <label for="keywords">Keywords</label>
                        <input class="form-control" id="keywords"
                               ng-model="followbotInstance.twitterUserRetrievalStrategy.statusKeywordSearchOptions.keywords">
                    </div>
                    <div class="form-group" ng-if='followbotInstance.twitterUserRetrievalStrategy.type == "STATUS_KEYWORD_SEARCH"'>
                        <label for="language">Language</label>
                        <input class="form-control" id="language"
                               ng-model="followbotInstance.twitterUserRetrievalStrategy.statusKeywordSearchOptions.language">
                    </div>

                    <div class="form-group" ng-if='followbotInstance.twitterUserRetrievalStrategy.type == "OTHER_USER_FOLLOWERS"'>
                        <label for="followUserScreenName">Other Users Screen names</label>
                        <input class="form-control" id="followUserScreenName"
                               ng-model="followbotInstance.twitterUserRetrievalStrategy.otherUserFollowersOptions.userScreenName">
                    </div>
                    <div class="form-group" ng-if='followbotInstance.twitterUserRetrievalStrategy.type == "OTHER_USER_FRIEND"'>
                        <label for="friendsUserScreenName">Other Users Screen names</label>
                        <input class="form-control" id="friendsUserScreenName"
                               ng-model="followbotInstance.twitterUserRetrievalStrategy.otherUserFriendsOptions.userScreenName">
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Screener Parameterization</h3>
                </div>
                <div class="panel-body">
                    <tabset justified="true">

                        <tab heading="General Parameters">

                            <div class="form-group">
                                <label for="languageCode">Language Code</label>
                                <input class="form-control" id="languageCode"
                                       ng-model="followbotInstance.twitterUserScreenerOptions.languageCode">
                            </div>

                        </tab>

                        <tab heading="Socail Activity Parameters">
                            <div class="form-group">
                                <label for="minFollowingFollowerRatio">Min Following to Follower Ratio</label>
                                <input class="form-control" id="minFollowingFollowerRatio"
                                       ng-model="followbotInstance.twitterUserScreenerOptions.socialActivityMatcherOptions.minFollowingFollowerRatio">
                            </div>

                            <div class="form-group">
                                <label for="maxFollowingFollowerRatio">Max Following to Follower Ratio</label>
                                <input class="form-control" id="maxFollowingFollowerRatio"
                                       ng-model="followbotInstance.twitterUserScreenerOptions.socialActivityMatcherOptions.maxFollowingFollowerRatio">
                            </div>


                        </tab>


                        <tab heading="Activity Parameters">
                            <div class="form-group">
                                <label for="minimumLastTweetAgeInDays">Minimum Last Tweet Age In Days</label>
                                <input class="form-control" id="minimumLastTweetAgeInDays"
                                       ng-model="followbotInstance.twitterUserScreenerOptions.activityMatcherOptions.minimumLastTweetAgeInDays">
                            </div>
                            <div class="form-group">
                                <label for="averageTweetsPerDay">Average of Tweets per day</label>
                                <input class="form-control" id="averageTweetsPerDay"
                                       ng-model="followbotInstance.twitterUserScreenerOptions.activityMatcherOptions.averageTweetsPerDay">
                            </div>

                            <div class="form-group">
                                <label for="minimumTweets">Minimum Tweets</label>
                                <input class="form-control" id="minimumTweets"
                                       ng-model="followbotInstance.twitterUserScreenerOptions.activityMatcherOptions.minimumTweets">
                            </div>


                        </tab>
                        <tab heading="Keyword Parameters">
                            <div class="form-group">
                                <label for="screenerKeywords">Keywords</label>
                                <input class="form-control" id="screenerKeywords"
                                       ng-model="followbotInstance.twitterUserScreenerOptions.keywordMatcherOptions.keywords">
                            </div>

                            <div class="form-group">
                                <label for="updatesToAnalize">Updates to analise</label>
                                <input class="form-control" id="updatesToAnalize"
                                       ng-model="followbotInstance.twitterUserScreenerOptions.keywordMatcherOptions.updatesToAnalyse">
                            </div>

                            <div class="form-group">
                                <label for="minimumKeyWordCount">Minimum of keywords found in batch</label>
                                <input class="form-control" id="minimumKeyWordCount"
                                       ng-model="followbotInstance.twitterUserScreenerOptions.keywordMatcherOptions.minimumKeyWordCount">
                            </div>

                        </tab>

                    </tabset>

                </div>
            </div>






            <button class="btn btn-success" ng-if="!followbotInstance.id" ng-click="create()">Create</button>
            <button class="btn btn-success" ng-if="followbotInstance.id" ng-click="update()">Update</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </form>

    </div>
</div>
