<h1>Twitter Follow Bots</h1>
<button type="button" class="btn btn-primary" ng-click="newFollowbot()">
    <span class="glyphicon glyphicon-plus-sign"></span>
    New Follow Bot
</button>

<div ng-if="followbotInstance" ng-include src="'js/app/twitter/followbots/views/_createFollowbotForm.html'"></div>


<div ng-if='applications.length==0'>
    There are no Follow Bots configured
</div>


<div ng-if='followbots.length>0'>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Name</td>
            <td>User Retrieval Strategy</td>


            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr class="animate-repeat" ng-repeat="followbot in followbots">
            <td>{{followbot.name}}</td>
            <td>{{followbot.twitterUserRetrievalStrategy.type}}</td>

            <td>
                <button type="button" class="btn glyphicon glyphicon-minus-sign" ng-click="remove(followbot)"
                        title="Remove Follow Bot">

                </button>
                <button type="button" class="btn glyphicon glyphicon-edit" ng-click="edit(followbot)"
                        title="Remove Follow Bot">

                </button>
                <a href="#/twitter/followbots/{{followbot.id}}/schedule" class="btn glyphicon glyphicon-calendar"
                        title="Schedule for this follow bot">
                </a>



            </td>
        </tr>
        </tbody>
    </table>
</div>



