<h1>New Instrument</h1>

<div class="panel panel-default">
    <div class="panel-heading">Enter Instrument details</div>
    <div class="panel-body">

        <form role="form" name="newInstrument">
            <div class="form-group">
                <label for="symbol">Symbol</label>
                <input type="text" ng-required="true" class="form-control" id="symbol" placeholder="SYMBOL" ng-model='instrument.symbol'>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea ng-required="true" class="form-control" id="description" ng-model='instrument.description'></textarea>

                <p class="help-block">Add some description here.</p>
            </div>

            <div class="form-group">
                <label for="pipSize">Pip Size:</label>
                <input type="text" ng-required="true" class="form-control" id="pipSize" placeholder="0,0001" ng-model='instrument.pipSize'>
            </div>
            <div class="form-group">
                <label for="pipPrice">Pip price:</label>
                <input type="text" ng-required="true" class="form-control" id="pipPrice" placeholder="pip price" ng-model='instrument.pipPrice'>
            </div>

            <div class="panel panel-default" ng-controller="pipPriceCalculatorCtrl">
                <div class="panel-heading">
                    <h3 class="panel-title">Pip Price Helper calculator</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label for="pipPrice_c">Price:</label>
                        <input type="text" ng-required="true" class="form-control" id="pipPrice_c"  ng-model='calculator.price'>
                    </div>

                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label for="lotSize">Lot Size:</label>
                        <input type="text" ng-required="true" class="form-control" id="lotSize"  ng-model='calculator.lotSize'>
                    </div>

                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label for="spread">Spread:</label>
                        <input type="text" ng-required="true" class="form-control" id="spread"  ng-model='calculator.spread'>
                    </div>

                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label for="pips">Pips:</label>
                        <input type="text" ng-required="true" class="form-control" id="pips"  ng-model='calculator.pips'>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="pl">P/L:</label>
                        <input type="text" ng-required="true" class="form-control" id="pl"  ng-model='calculator.pl'>
                    </div>
                </div>
            </div>


            <button ng-if="newInstrument.$valid" type="submit" class="btn btn-success" ng-click='save()'>Save it ang back to listing</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel and back to listing</button>

        </form>
    </div>
</div>


