<ol class="breadcrumb">
    <li><a href="#/accounts/{{account.id}}/">Account</a></li>
</ol>
<h1>Instruments</h1>
<p ng-if='accounts.length == 0'>You don't have any instruments defined yet! Create one now.</p>
<a href="#/accounts/{{account.id}}/instruments/new"> <button type="button"  class="btn btn-success">Create new Trading Instrument</button></a>

<ul>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Description</th>
            <th>Pip Size</th>
            <th>Pip Price</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="instrument in instruments">
            <td><a href="#/accounts/{{account.id}}/instruments/{{instrument.symbol}}">{{instrument.symbol}}</a></td>
            <td>{{instrument.description}}</td>
            <td>{{instrument.pipSize}}</td>
            <td>{{instrument.pipPrice}}</td>
            <td><button type="button" class="btn btn-danger btn-sm" ng-click="delete(instrument.symbol)" title="Remove this instrument!">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            </td>
        </tr>
        </tbody>
    </table>


</ul>

