
<h1>Account: {{account.name}}</h1>
<h2>Twitter Application</h2>


<form role="form">
    <div class="form-group">
        <label for="description">Decription</label>
        <textarea class="form-control" id="description" ng-model="twitterApplication.description"></textarea>
    </div>

    <div class="form-group">
        <label for="apiKey">Api Key</label>
        <input type="text" class="form-control" id="apiKey" ng-model="twitterApplication.apiKey">
    </div>

    <div class="form-group">
        <label for="apiSecret">Api Key Secret</label>
        <input type="text" class="form-control" id="apiSecret" ng-model="twitterApplication.apiSecret">
    </div>

</form>



<button type="button" class="btn btn-success" ng-click="save()">Save changes</button>
<a href="#/accounts/{{account.id}}"> <button type="button" class="btn btn-primary">Back to Account</button></a>
</div>
