<div style="margin-top: 85px">
    <ol class="breadcrumb">
        <li><a href="#/accounts/{{account.id}}/">Account {{account.name}}</a></li>
        <li><a href="#/accounts/{{account.id}}/trades">Trades</a></li>
        <li ng-if="!trade.id">New Trade</li>
        <li ng-if="trade.id">{{trade.id}}</li>

    </ol>
</div>
<form role="form" name="newTradeForm">
<nav class="navbar navbar-default navbar-fixed-top" style="top: 50px">
    <div class="container-fluid">


        <span ng-if="trade.status!='CLOSED'">
        Account at Risk: <span

            class="badge {{ (trade.riskAmmount /balanceSummary.balance) > riskParameters.allowedRiskPerTrade? 'danger':'tradeOk'}}">{{trade.riskAmmount / balanceSummary.balance | percentage}}</span>

          </span>
        R Multiple:<span class="badge {{(trade.rmultiple < accountPlan.rmultiple)? 'danger': 'tradeOk'}}">{{trade.rmultiple}}</span>
        # Orders: <span class="badge">{{trade.orders.length}}</span>
        <button type="button" ng-if="newTradeForm.$valid" class="btn btn-success" ng-click='newOrder()'><span
                class="glyphicon glyphicon-plus"></span> New Order
        </button>

        <button ng-if="newTradeForm.$valid" type="submit" class="btn btn-success" ng-click='save()'>Save
        </button>
        {{trade.status}}
        <button ng-if="trade.status=='PLANNED' && trade.id" type="submit" class="btn btn-success"
                ng-click='openTrade()'>Open
        </button>
        <button ng-if="trade.status=='OPEN'" type="submit" class="btn btn-success" ng-click='closeTrade()'>Close
        </button>
        <button ng-if="trade.status=='PLANNED' && trade.id" type="submit" class="btn btn-success"
                ng-click='cancelTrade()'>Drop
        </button>


    </div>
    <!-- /.container-fluid -->
</nav>


<tabset>
<tab heading="Trade">


    <div class="row">


        <div class="col-md-3">

            <div class="form-group" ng-if="trade.status != 'CLOSED'">
                <label for="symbol">Instrument</label>

                <select ng-required="true" class="form-control" id="symbol" ng-model='trade.symbol'>

                    <option ng-repeat="instrument in instruments">{{instrument.symbol}}</option>

                </select>

            </div>
            <div class="form-group" ng-if="trade.status == 'CLOSED'">
                <label for="symbol">Instrument at close</label>

                <select ng-required="true" class="form-control" id="symbolAtClose" ng-model='trade.symbol'
                        ng-disabled="true">

                    <option>{{trade.instrumentAtClose.symbol}}</option>

                </select>

            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select ng-required="true" class="form-control" id="type" ng-model='trade.type'
                        ng-disabled="trade.status == 'CLOSED'">
                    <option>BUY</option>
                    <option>SELL</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="previousPeriodHigh">Previous period high:</label>
                <input ng-disabled="trade.status == 'CLOSED'" type="text" ng-required="true" class="form-control"
                       id="previousPeriodHigh"

                       ng-model='trade.previousPeriodHigh'>
            </div>


            <div class="form-group">
                <label for="previousPeriodHigh">Previous period low:</label>
                <input ng-disabled="trade.status == 'CLOSED'" type="text" ng-required="true" class="form-control"
                       id="previousPeriodLow"
                       ng-model='trade.previousPeriodLow'>
            </div>


            <div class="form-group">
                <label for="slackEntry">Slack entry:</label>
                <input ng-disabled="trade.status == 'CLOSED'" type="text" ng-required="true" class="form-control"
                       id="slackEntry"
                       ng-model='trade.slackEntry'>
            </div>


            <div class="form-group">
                <label for="slackExit">Slack exit:</label>
                <input ng-disabled="trade.status == 'CLOSED'" type="text" ng-required="true" class="form-control"
                       id="slackExit"
                       ng-model='trade.slackExit'>
            </div>
        </div>
        <div class="col-md-3">

            <div class="form-group">
                <label for="openDate">Open Time</label>
                <!--data-date="1979-09-16T05:25:07Z"-->
                <div class="input-group date form_datetime"
                     data-date-format="yyyy-mm-dd hh:ii" data-link-field="openDateInput">
                    <input class="form-control" id="openDate"
                           ng-model='trade.openTime' size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="openDateInput" value=""/><br/>
                <!--<input type="text"  />-->
            </div>

            <div class="form-group">
                <label for="openTimeManualInput">Open Time</label>
                <input type="text" class="form-control" id="openTimeManualInput"
                       ng-model='trade.openTime'>
            </div>


            <div class="form-group">
                <label for="closeDate">Close Time</label>
                <!--data-date="1979-09-16T05:25:07Z"-->
                <div class="input-group date form_datetime"
                     data-date-format="yyyy-mm-dd hh:ii" data-link-field="closeTimeInput">
                    <input class="form-control" id="closeDate"
                           ng-model='trade.closeTime' size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="closeTimeInput" value=""/><br/>
            </div>
            <div class="form-group">
                <label for="closeTimeManualInput">Close Time</label>
                <input type="text" class="form-control" id="closeTimeManualInput"
                       ng-model='trade.closeTime'>
            </div>


        </div>


        <div class="col-md-3">


            <ul class="list-group">

                <li class="list-group-item">
                    <span class="badge {{ trade.profitLoss <0? 'danger': 'tradeOk'}}">{{trade.profitLoss}}€</span>
                    P/L
                </li>
                <li class="list-group-item">
                    <span class="badge {{ alerts.risk? 'danger': 'tradeOk'}}">{{trade.openRisk}}</span>
                    Open Risk
                </li>
                <li class="list-group-item">
                    <span class="badge">{{trade.duration}}</span>
                    Duration:
                </li>
                <li class="list-group-item">
                    <span class="badge">{{trade.maximumAdverseExcursion}}</span>
                    MAEr
                </li>

                <li class="list-group-item">
                    <span class="badge">{{trade.entryPrice}}</span>
                    Entry price
                </li>


                <li class="list-group-item">
                    <span class="badge">{{trade.slPrice}}</span>
                    SL Price
                </li>


                <li class="list-group-item">
                    <span class="badge">{{trade.risk | number : 0}}</span>
                    Risk
                </li>
                <li class="list-group-item">
                    <span class="badge">{{trade.riskAmmount}}</span>
                    Risk Ammount
                </li>



                <li class="list-group-item">
                    <span class="badge {{ trade.closeReward <0? 'danger': 'tradeOk'}}">{{trade.closeReward}}</span>
                    Close Reward
                </li>
                <li class="list-group-item">
                    <span class="badge">{{trade.spread}}</span>
                    Spread
                </li>

                <li class="list-group-item">
                    <span class="badge">{{trade.swap}}</span>
                    Swap
                </li>


                <li class="list-group-item">
                    <span class="badge">{{trade.comission}}</span>
                    Comission
                </li>
                <li class="list-group-item">
                    <span class="badge">{{trade.rollover}}</span>
                    Rollover
                </li>
                <li class="list-group-item">
                    <span class="badge">{{trade.transactionCostCurrency}}€</span>
                    Transaction Costs
                </li>


                <li class="list-group-item">
                    <span class="badge">{{trade.transactionCostPips}}</span>
                    Transaction Point
                </li>


                <li class="list-group-item">
                    <span class="badge">{{trade.afterCostsRmultiple}}</span>
                    R after costs
                </li>

            </ul>

        </div>
    </div>

</tab>


<!--heading="{{tab.title}}" active="tab.active" disabled="tab.disabled"-->

<tab ng-repeat="order in trade.orders"
     heading="{{trade.type}} {{trade.symbol}} #{{order.number}} | {{(order.riskAmmount / balanceSummary.balance) | percentage}} | {{order.rmultiple}}"
     ng-controller="OrderController">

    <button type="button" class="btn btn-danger btn-sm" ng-click="deleteOrder(order.number)"
            title="Remove this order!">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button class="btn btn-success" clip-copy="getEntryPrice()">Copy Entry Price</button>
    <button class="btn btn-success" clip-copy="getSlPrice()">Copy SL Price</button>
    <button class="btn btn-success" clip-copy="getProfitTarget()">Copy PT Price</button>


    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="size">Size</label>
                <input type="text" ng-required="true" class="form-control" id="size"

                       ng-model='order.size'>
            </div>

            <div class="form-group">
                <label for="profitTarget">Profit Target</label>
                <input type="text" ng-required="true" class="form-control" id="profitTarget"

                       ng-model='order.profitTarget'>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="orderSlPrice">SL Price</label>
                <input type="text" ng-required="true" class="form-control" id="orderSlPrice"

                       ng-model='order.slPrice'>
            </div>
            <div class="form-group">
                <label for="closePrice">Close Price</label>
                <input type="text" class="form-control" id="closePrice"

                       ng-model='order.closePrice'>
            </div>
            <div class="form-group">
                <label for="adversePrice">Adverse price</label>
                <input type="text" class="form-control" id="adversePrice"
                       ng-model='order.adversePrice'>
            </div>


            <div class="form-group">
                <label for="orderCloseTime">Close Time</label>
                <!--data-date="1979-09-16T05:25:07Z"-->
                <div class="input-group date form_datetime"
                     data-date-format="yyyy-mm-dd hh:ii" data-link-field="orderCloseTimeInput">
                    <input class="form-control" id="orderCloseTime"
                           ng-model='order.closeTime' size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="orderCloseTimeInput" value=""/><br/>
            </div>


        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="spread">Spread</label>

                <input type="text" class="form-control" id="spread"
                       ng-model='order.spread'>
            </div>


            <div class="form-group">
                <label for="swap">Swap</label>

                <input type="text" class="form-control" id="swap"
                       ng-model='order.swap'>
            </div>


            <div class="form-group">
                <label for="comission">Comission</label>

                <input type="text" class="form-control" id="comission"
                       ng-model='order.comission'>
            </div>
            <div class="form-group">
                <label for="orderRollover">Rollover</label>

                <input type="text" class="form-control" id="orderRollover"
                       ng-model='order.rollover'>
            </div>


        </div>

        <div class="col-md-3">

            <ul class="list-group">

                <li class="list-group-item">
                    <span class="badge">{{order.openTime}}</span>
                    Open Time
                </li>


                <li class="list-group-item">
                    <span class="badge">{{order.closeTime}}</span>
                    Close Time
                </li>
                <li class="list-group-item">
                    <span class="badge">{{order.duration}}</span>
                    Duration
                </li>
                <li class="list-group-item">
                    <span class="badge">{{order.maximumAdverseExcursion}}</span>
                    MAEr
                </li>


                <li class="list-group-item">
                    <span class="badge {{ order.profitLoss < 0? 'danger':'tradeOk'}}">{{order.profitLoss}} €</span>
                    P/L
                </li>

                <li class="list-group-item">
                    <span class="badge">{{order.transactionCostPips}}</span>
                    Transaction costs points
                </li>
                <li class="list-group-item">
                    <span class="badge">{{order.transactionCostCurrency}}€</span>
                    Transaction costs
                </li>

                <li class="list-group-item">
                    <span class="badge">{{order.entryPrice}}</span>
                    Entry Price
                </li>
                <li class="list-group-item">
                    <span class="badge">{{order.slPrice}}</span>
                    SL Price
                </li>
                <li class="list-group-item">
                    <span class="badge">{{order.risk}}</span>
                    Risk
                </li>
                <li class="list-group-item">
                    <span class="badge">{{order.riskAmmount}}</span>
                    Risk Ammount
                </li>

                <li class="list-group-item">
                    <span class="badge">{{order.openRisk}}</span>
                    Open Risk
                </li>

                <li class="list-group-item">
                    <span class="badge">{{order.expectedReward}}</span>
                    Expected Reward
                </li>

                <li class="list-group-item">
                    <span class="badge">{{order.rmultiple}}</span>
                    R
                </li>
                <li class="list-group-item">
                    <span class="badge">{{order.afterCostsRmultiple}}</span>
                    R after costs
                </li>

                <li class="list-group-item">
                    <span class="badge {{ (order.riskAmmount /balanceSummary.balance) > riskParameters.allowedRiskPerTrade? 'danger':'tradeOk'}}">{{order.riskAmmount /balanceSummary.balance | percentage}}</span>
                    Account at Risk
                </li>
                <li class="list-group-item">
                    <span class="badge {{ order.closeReward < 0? 'danger':'tradeOk'}}">{{order.closeReward}}</span>
                    Close Reward
                </li>


            </ul>


        </div>
    </div>



</tab>

<tab heading="Log">
    <div class="panel panel-default">
        <div class="panel-body">

            <div>
                <label for="text">Log</label>
                <textarea class="form-control" style="height: 300px" id="text" ng-model='trade.log'></textarea>
            </div>

        </div>
    </div>
</tab>


<tab heading="Screenshots">

    <input ng-if="trade.id" type="file" class="btn btn-success" ng-file-select="onFileSelect($files)"
           multiple
           onclick="this.value=null">

    <div class="row">
        <div class="col-xs-6 col-md-3" ng-repeat="screenshot in trade.screenshots">
            <button type="button" class="btn btn-danger btn-sm"
                    ng-click="deleteScreenshot(screenshot.id)"
                    title="Remove this Screenshot!">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <a href="{{screenshot.url}}" target="_blank" class="thumbnail">
                <img ng-src="{{screenshot.url}}">
            </a>
        </div>

    </div>

</tab>


</tabset>

</form>


