<ol class="breadcrumb">
    <li><a href="#/accounts/{{account.id}}/">Account</a></li>
</ol>

<h1>Trades</h1>

<p ng-if='accounts.length == 0'>You don't have any instruments defined yet! Create one now.</p>
<a href="#/accounts/{{account.id}}/trades/new">
    <button type="button" class="btn btn-success">New Trade</button>
</a>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Status</th>
            <th>Type</th>
            <th>Symbol</th>
            <th>Duration</th>
            <th>Open Risk</th>
            <th>Rmultiple</th>
            <th>Account at Risk</th>
            <th># Orders</th>
            <th></th>


        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="trade in trades">
            <td><a href="#/accounts/{{account.id}}/trades/{{trade.id}}">{{trade.status}}</a></td>
            <td>{{trade.type}}</td>
            <td>{{trade.symbol}}</td>
            <td>{{trade.duration}}</td>
            <td>{{trade.openRisk}}</td>
            <td>{{trade.rmultiple}}</td>
            <td>{{trade.accountAtRisk | percentage}}</td>
            <td>{{trade.orders.length}}</td>
            <td><button type="button" class="btn btn-danger btn-sm" ng-click="delete(trade.id)" title="Remove this trade!">
                <span class="glyphicon glyphicon-remove"></span>
            </button></td>


        </tr>
        </tbody>
    </table>




